﻿@model ICTS.Dashboard.Models.UserProfileWFModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
@{
    var userProfile = Model.userProfile;
}
<div>
    <h4>UserProfile</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => userProfile.FrirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => userProfile.FrirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => userProfile.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => userProfile.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => userProfile.MidName)
        </dt>

        <dd>
            @Html.DisplayFor(model => userProfile.MidName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => userProfile.LoginName)
        </dt>

        <dd>
            @Html.DisplayFor(model => userProfile.LoginName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => userProfile.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => userProfile.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => userProfile.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => userProfile.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => userProfile.Telephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => userProfile.Telephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => userProfile.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => userProfile.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => userProfile.DateCreate)
        </dt>

        <dd>
            @Html.DisplayFor(model => userProfile.DateCreate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => userProfile.DateUpdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => userProfile.DateUpdate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = userProfile.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>



<div class="row smpl-step" style="border-bottom: 0; min-width: 500px;">
    <div class="col-xs-3 smpl-step-step complete">
        <div class="text-center smpl-step-num">Step 1</div>
        <div class="progress">
            <div class="progress-bar"></div>
        </div>
        <a class="smpl-step-icon"><i class="fa fa-user" style="font-size: 60px; padding-left: 12px; padding-top: 3px; color: black;"></i></a>
        <div class="smpl-step-info text-center">Registe User via control panel.</div>
    </div>

    <div class="col-xs-3 smpl-step-step complete">
        <div class="text-center smpl-step-num">Step 2</div>
        <div class="progress">
            <div class="progress-bar"></div>
        </div>
        <a class="smpl-step-icon"><i class="fa fa-dollar" style="font-size: 60px; padding-left: 18px; padding-top: 5px; color: black;"></i></a>
        <div class="smpl-step-info text-center">Process employee confirm all required fields.</div>
    </div>
    <div class="col-xs-3 smpl-step-step active">
        <div class="text-center smpl-step-num">Step 3</div>
        <div class="progress">
            <div class="progress-bar"></div>
        </div>
        <a class="smpl-step-icon"><i class="fa fa-repeat" style="font-size: 60px; padding-left: 7px; padding-top: 7px; color: black;"></i></a>
        <div class="smpl-step-info text-center">Confirm Data entered in step 2.</div>
    </div>
    <div class="col-xs-3 smpl-step-step disabled">
        <div class="text-center smpl-step-num">Step 4</div>
        <div class="progress">
            <div class="progress-bar"></div>
        </div>
        <a class="smpl-step-icon"><i class="fa fa-download" style="font-size: 60px; padding-left: 8px; padding-top: 4px; color: black; opacity: 0.3;"></i></a>
        <div class="smpl-step-info text-center">ICT Configuration.</div>
    </div>
</div>


@{
    
    var tasks = Model.taskWF;
    var taskMdoel = new ICTS.Data.WFTask();
}

<h3>Task List</h3>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => taskMdoel.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => taskMdoel.TaskName)
        </th>
        <th>
            @Html.DisplayNameFor(model => taskMdoel.WFProjectId)
        </th>
        <th>
            @Html.DisplayNameFor(model => taskMdoel.Actor)
        </th>
        <th>
            @Html.DisplayNameFor(model => taskMdoel.DateCreate)
        </th>
        <th>
            @Html.DisplayNameFor(model => taskMdoel.DateUpdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => taskMdoel.Status)
        </th> 
        <th></th>
    </tr>

    @foreach (var item in tasks)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WFProjectId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Actor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateUpdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td> 
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

